/* APARTATS I FONS */
body{
    font-family: 'Montserrat';
}

.titol h3{
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 4px;
	color: black;
	font-size: 45px;
	font-weight: 700;
	background:linear-gradient(to right,
							rgba(275, 275, 275, 0.0),
							rgba(275, 275, 275, 0.8),
							rgba(275, 275, 275, 0.8),
							rgba(0, 0, 0, 0));
	top: 0px;
}
.titol a{
	color: black;
	text-decoration: none;
}
.categories{
	position: absolute;
	top: 37vh;
	left: 190px;
	padding: 22px 0px 22px 0px;
	background:radial-gradient(
							rgba(0, 0, 0, 0.48),
							rgba(255, 255, 255, 0.07));
}
.categories p{
	text-align: center;
	padding: 5px 0 0 0;
	margin: 0px;
	color: #ffffffb3;
	font-size: 18px;
	font-weight: 900;
	padding: 2px 13px 2px 13px;
}
.categories p:hover{
	background: none;
	cursor: pointer;
}
.categories p:hover{
	color: #ffffff;
}
.categories .noRemarcada{
	border: 1px solid #ffffff00;
}
.categories .remarcada{
	border: 1px solid #ffffffb3;
}
.enrere{
	margin: 0;
	position: absolute;
	bottom: 30px;
	left: 35vw;
	z-index: 1;
}
.enrere a{
	background:linear-gradient(to right,
								rgba(0, 0, 0, 0),
								rgba(275, 275, 275, 0.7),
								rgba(275, 275, 275, 0.7),
								rgba(0, 0, 0, 0));
	display: block;
	width: 30vw;
	min-width: 200px;
	height: 30px;
	margin: 0;
	text-align: center;
	color: black;
	text-decoration: none;
}
.enrere h2{
	font-weight: 900;
	margin: 0%;
	font-size: 20px;
	padding: 3px;
	margin: 5px;
}
.enrere a:hover{
	background:linear-gradient(to right,
								rgba(0, 0, 0, 0),
								rgba(275, 275, 275, 0.9),
								rgba(275, 275, 275, 0.9),
								rgba(0, 0, 0, 0));

}

/* GALERIA */
.contingut{
	position: absolute;
	top: 85px;
	padding: 0 0 0 0;
	height: 83vh;
	left: 400px;
	overflow: auto;
	z-index: 0;
	scroll-behavior: smooth;
}
@media only screen and (max-height: 900px){
	.contingut{
		height: 79vh;
	}
}
@media only screen and (max-height: 700px){
	.contingut{
		height: 74vh;
	}
}
.quadricula{
    margin: 0.3vw;
    width: 17vw;
    height: 17vw;
    float: left;
	animation-name: entraQuadricula;
	animation-duration: 0.7s;
	background: #0000008c;
}
@keyframes entraQuadricula{
	from {opacity: 0} 
	to {opacity: 1}
}
.quadricula img{
	border: 1px solid #cecccc47;
    width: 17vw;
    height: 17vw;
    object-fit: contain;
}
.quadricula img:hover{
    border: 1px solid #ffffffb3;
	cursor: pointer;
}
::-webkit-scrollbar {
    width: 25px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
	height: 300px;
    background: radial-gradient(farthest-side at 100% 50%,
								rgba(275, 275, 275, 0.7),
								rgba(0, 0, 0, 0));
}
::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(farthest-side at 100% 50%,
								rgba(275, 275, 275, 0.9),
								rgba(0, 0, 0, 0));
}

/* VISTA GRAN */
.vista{
	display: none;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #101010f2;
	animation-name: entraVista;
	animation-duration: 0.4s;
}
@keyframes entraVista{
	from {opacity: 0.4} 
	to {opacity: 1}
}
.diapositiva{
	position: absolute;
	left: 270px;
	height: 100%;
}
.diapositiva img{
	position:relative;
	max-width: 91%;
	height: 80vh;
	object-fit: contain;
	left: 20px;
	top: 90px;
	animation-name: canviDiap;
	animation-duration: 0.3s;
}
@keyframes canviDiap{
	from {opacity: 0.4} 
	to {opacity: 1}
}
.diapnumero{
	color: rgba(275, 275, 275, 0.7);
	font-size: 12px;
	position: fixed;
	right: 50px;
	bottom: 20px;
	font-weight: 900;
}
.carret{
	position: absolute;
	width: 250px;
	height: 100%;
	top:0px;
	left: 0px;
	padding: 0 0 0 0;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.miniatura{
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 5px 30px 5px 55px;
}
.miniatura img{
	width: 146px;
    height: 146px;
    object-fit: contain;
    border: 1px solid #cecccc47;
}
.miniatura img:hover{
    border: 1px solid #ffffffb3;
	cursor: pointer;
}
img.demo{
	opacity: 0.65;
}
.demo:hover{
	opacity: 1;
}
.active{
	opacity: 1;
	background: rgba(255, 255, 255, 0.85);
	animation-name: miniatAct;
	animation-duration: 1s;
}
@keyframes miniatAct{
	from {opacity: 0.65;
		background: none;} 
	to {opacity: 1;
		background: rgba(255, 255, 255, 0.85);}
}
.carret::-webkit-scrollbar{
    width: 15px;
}
.carret::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0);
}
.carret::-webkit-scrollbar-thumb{
	height: 500px;
    background: linear-gradient(to bottom,
    							rgba(0, 0, 0, 0),
    							rgba(275, 275, 275, 0.6),
    							rgba(0, 0, 0, 0));
								
}
.carret::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom,
    							rgba(0, 0, 0, 0),
    							rgba(275, 275, 275, 0.8),
    							rgba(0, 0, 0, 0));
}
.close{
	color: white;
	position: absolute;
	top: 30px;
	right: 50px;
	width: 40px;
	z-index: 3;
	filter: brightness(100%);
	opacity: .75;
}
.anterior,
.seguent{
	position: absolute;
	top: 90px;
	z-index: 3;
}
.seguent{
	right: 0px;
	padding: 35vh 10vw 40vh 20vw;
}
.anterior{
	left: 250px;
	padding: 35vh 10vw 40vh 10vw;
}
.anterior:hover{
	cursor: url(../img/icones/left.png), auto;
}
.seguent:hover{
	cursor: url(../img/icones/right.png), auto;
}

/* FUNCIONAMENT CATEGORIES */
.noQuadricula{
	display: none;
}
.noDiapositiva{
	display: none;
}
.noMiniatura{
	display: none;
}