body{
    font-family: 'Montserrat';
}
.titol h1{
    text-align: center;
    position: absolute;
    padding: 5px 0 30px 0;
    width: 100%;
	font-size: 90px;
	font-weight: 100;
	color: black;
	background:linear-gradient(to right,
							rgba(275, 275, 275, 0.0),
							/*rgba(275, 275, 275, 0.8),*/
							rgba(275, 275, 275, 0.8),
							rgba(0, 0, 0, 0));
	top: 0px;
}
.titol h3{
	position: absolute;
	text-align: center;
	width: 100%;
	color: black;
	font-size: 20px;
	font-weight: 600;
	top: 108px;
}
.menu{
	margin: 0;
	position: absolute;
	bottom: 0vh;
	left: 35vw;
}
.menu a{
	background:linear-gradient(to right,
								rgba(0, 0, 0, 0),
								rgba(275, 275, 275, 0.6),
								rgba(275, 275, 275, 0.6),
								rgba(0, 0, 0, 0));
	display: block;
	width: 30vw;
	min-width: 200px;
	height: 30px;
	margin: 0;
	text-align: center;
	color: black;
	text-decoration: none;
}
.menu .espaimenu{
	height: 30px;
	margin: 0;
}
.baix{
	display: inline-flex;
}
.baix a{
	width: 15vw;
	min-width: 100px;
}
.menu h2{
	font-weight: 900;
	margin: 0%;
	font-size: 20px;
	padding: 3px;
}
.menu a:hover{
	background:linear-gradient(to right,
								rgba(0, 0, 0, 0),
								rgba(275, 275, 275, 0.9),
								rgba(275, 275, 275, 0.9),
								rgba(0, 0, 0, 0));

}
.baix img{
	height: 100%;
	top: 50%;
	padding: 2px;
}
.categoria{
	position: absolute;
	bottom: 270px;
	padding: 5px 0 5px 0;
	background:linear-gradient(to right,
								rgba(0, 0, 0, 0),
								rgba(275, 275, 275, 0.7),
								rgba(275, 275, 275, 0.7),
								rgba(0, 0, 0, 0));
	width: 40vw;
	min-width: 200px;
	left: 30vw;
	display:table-cell;
    vertical-align:middle;
	display: none;
	animation-name: mostraCategoria;
	animation-duration: 0.5s;
}
@keyframes mostraCategoria{
	from {opacity: 0.3} 
	to {opacity: 1}
}	

.categoria p{
	text-align: center;
	padding: 5px 0 0 0;
	margin: 0px;
	color: #000000;
	font-size: 15px;
	font-weight: 900;
	padding: 2px 13px 2px 13px;
	margin: 0 15%;
}